@import "./mixins/flex-center";
@import "./mixins/flex-justify";

$black: #00043c;
$details-color: #fdbe34;

.blocks {
  @include flex-center();

  margin: 40px 0 0 0;

  .block {
    padding: 15px;
    text-align: center;
    width: 100%;

    h1 {
      color: $black;
    }

    p {
      color: grey;
    }

    &__grey {
      background-color: rgb(219, 219, 219);
      color: grey;
    }

    &__yellow {
      background-color: $details-color;
      p {
        color: $black;
      }
    }

    &__black {
      background-color: $black;

      h1 {
        color: white;
      }

      p {
        color: rgb(219, 219, 219);
      }
    }
  }
}

.about {
  @include flex-justify;
  height: 614px;
  width: 100%;
  position: relative;

  .img {
    width: 55%;
    height: 100%;

    background-image: url("/img/about.jpg");
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__text {
    width: 50%;
    margin-left: 50px;

    h1 {
      color: $black;
      font-size: 2em;
    }

    p {
      color: grey;
    }

    .title__yellow {
      color: $details-color;
      font-weight: bold;
    }

    .title__yellow,
    h1 {
      margin: 0;
    }
  }

  &__buttons {
    @include flex-center;
    margin-top: 2em;
    flex-wrap: wrap;
  }

  &__button {
    width: 33.3%;
    padding: 0.8em 0;
    margin-right: 0.4em;

    background-color: #fff;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 0.4em;
    cursor: pointer;

    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1em;

    transition: ease-in-out 0.2s;

    &:last-child {
      margin: 0;
    }
    &--active {
      background-color: $details-color;
      color: white;
    }

    &__play {
      @include flex-center;

      height: 80px;
      width: 80px;

      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;

      background-color: $details-color;
      border-radius: 50%;
      font-size: 1.5em;
      color: #fff;
      cursor: pointer;
    }
  }

  &__caption {
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 0.4em;

    margin-top: 0.8em;

    padding: 0.2em 1.5em;
    line-height: 1.8em;
  }
}

.statistics {
  @include flex-justify;
  width: 100%;
  flex-wrap: wrap;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(253, 190, 52, 1) 50%
  );

  .stat {
    @include flex-center;
    width: 25%;
    padding: 10px 0;

    font-weight: bold;

    h1 {
      font-size: 3em;
      padding: 0 10px;
    }

    p {
      font-size: 1.1em;
      padding: 10px;
    }
  }
}
