@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$black: #00043c;
$details-color: #fdbe34;

.slider {
  @include flex-center();

  position: relative;

  width: 100%;
  max-width: 1895px;
  height: 700px;

  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
  background-position: center;

  .text {
    @include flex-center();
    flex-flow: column wrap;

    h1 {
      color: #fff;
      font-size: 5em;
    }

    p {
      color: $details-color;
      font-weight: bold;
    }

    p,
    h1 {
      margin: 0 auto;
      letter-spacing: 4px;
    }
  }
  .dots {
    @include flex-center();
    align-self: flex-end;

    position: absolute;
    margin-bottom: 2em;

    .dot {
      height: 10px;
      width: 10px;
      background-color: rgb(177, 177, 177);
      border: 1px solid #fff;
      border-radius: 50%;
      padding: 0.2em;
      margin: 0.2em;

      cursor: pointer;
    }

    .dot--active {
      background-color: #fff;
    }
  }
}
