header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 1em;
}

header .logo {
  color: #000;
}

header .logo span {
  color: #fdbe34;
}

header .socials a {
  color: #000;
}

header .socials .icon {
  width: 40px;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  padding: 0.5em;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

header .socials .icon:hover {
  background-color: #fdbe34;
  color: white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #00043c;
  color: white;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul .nav {
  padding: 2.1em 2.1em;
  cursor: pointer;
  font-size: 0.9em;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

nav ul .nav__home {
  background-color: #fdbe34;
  color: #00043c;
}

nav ul .nav:hover {
  background-color: #fdbe34;
  color: #00043c;
}

nav .search-input {
  margin-right: 1em;
}

nav .search-input input {
  height: 3em;
  width: 300px;
  padding: 0.6em;
  border: none;
  border-radius: 4px;
}

nav .search-input button {
  background-color: #fff;
  color: #00043c;
  height: 3em;
  border: none;
  border-radius: 4px;
}

.swiper-container {
  width: 100%;
  height: 700px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 0 0;
}

.blocks .block {
  padding: 15px;
  text-align: center;
}

.blocks .block h1 {
  color: #00043c;
}

.blocks .block p {
  color: grey;
}

.blocks .block__grey {
  background-color: #dbdbdb;
  color: grey;
}

.blocks .block__yellow {
  background-color: #fdbe34;
}

.blocks .block__yellow p {
  color: #00043c;
}

.blocks .block__black {
  background-color: #00043c;
}

.blocks .block__black h1 {
  color: white;
}

.blocks .block__black p {
  color: #dbdbdb;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 614px;
  width: 100%;
  position: relative;
}

.about .img {
  width: 55%;
  height: 100%;
  background-image: url("/img/about.jpg");
  background-position: center center;
}

.about__text {
  width: 50%;
  margin-left: 50px;
}

.about__text h1 {
  color: #00043c;
  font-size: 2em;
}

.about__text p {
  color: grey;
}

.about__text .title__yellow {
  color: #fdbe34;
  font-weight: bold;
}

.about__text .title__yellow,
.about__text h1 {
  margin: 0;
}

.about__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

.about__button {
  width: 33.3%;
  padding: 0.8em 0;
  margin-right: 0.4em;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 0.4em;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1em;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.about__button:last-child {
  margin: 0;
}

.about__button--active {
  background-color: #fdbe34;
  color: white;
}

.about__button__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 80px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: #fdbe34;
  border-radius: 50%;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

.about__caption {
  background-color: #ebebeb;
  border: 1px solid #dbdbdb;
  border-radius: 0.4em;
  margin-top: 0.8em;
  padding: 0.2em 1.5em;
  line-height: 1.8em;
}

.statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  background: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, #fdbe34));
  background: linear-gradient(90deg, white 50%, #fdbe34 50%);
}

.statistics .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
}

.statistics .stat h1 {
  font-size: 3em;
  padding: 0 10px;
}

.statistics .stat p {
  font-size: 1.1em;
  padding: 10px;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #fdbe34;
  max-width: 100%;
  height: 740px;
}

.testimonial__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 0;
  margin: 2em 0 0 0;
}

.testimonial__text h1 {
  font-size: 2em;
  padding: 0 0 0.7em 0;
}

.testimonial__text p {
  font-size: 1.1em;
}

.testimonial__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  height: 269px;
  margin: 0 1em;
  border-radius: 0.5em;
  background-color: #fff;
}

.testimonial__block p {
  padding: 0.5em;
  color: #9b9b9b;
}

.testimonial__block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.testimonial__block__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 3em;
}

.testimonial__block__data p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0 0.5em 0;
  line-height: 0;
  color: black;
}

.testimonial__block__data .name {
  font-size: 1.5em;
  font-weight: bold;
}

.testimonial__block__img {
  height: 80px;
  width: 80px;
  background: url("/img/person_1.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-left: 1em;
}

.testimonial .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
}

.testimonial .dots .dot {
  height: 10px;
  width: 10px;
  background-color: #b1b1b1;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0.2em;
  margin: 0.2em;
  cursor: pointer;
}

.testimonial .dots .dot--active {
  background-color: #fff;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.blog p {
  font-weight: bold;
  color: #fdbe34;
  line-height: 0;
  margin-top: 5em;
}

.blog h1 {
  line-height: 0;
  font-size: 2.5em;
  margin-bottom: 3em;
}

.blog__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.blog__element:last-child {
  margin: 0;
}

.blog__element__img {
  height: 250px;
  width: 100%;
  background: url("/img/image_1.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.blog__element__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.blog__element__date p {
  color: grey;
  margin-right: 0.7em;
  line-height: 0;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.blog__element__date p:hover {
  cursor: pointer;
  color: #dbdbdb;
}

.blog__element__title {
  text-align: center;
}

.newsletter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fdbe34;
  color: #fff;
  border-radius: 5px;
  font-size: 1.5em;
  margin-top: 2em;
  padding: 1em 0;
}

.newsletter-block label input {
  height: 50px;
  width: 380px;
  border: none;
  border-radius: 5px;
  margin-left: 2em;
  padding: 0 1em;
}

.newsletter-block label input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
}

.newsletter-block label input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
}

.newsletter-block label input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
}

.newsletter-block label input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
}

.newsletter-block button {
  background-color: #fcad02;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 0.6em;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  background-color: #282828;
  width: 100%;
  color: #b1b1b1;
}

footer h3 {
  color: #fff;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #b1b1b1;
  padding: 30px 35px;
  width: 25%;
}

.about-us ul {
  list-style-type: none;
  padding: 0;
}

.about-us .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us .icons span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  border-radius: 50%;
  background-color: #343a40;
  color: #fdbe34;
}

.about-us:hover {
  cursor: pointer;
  color: white;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 35px;
}

.services ul {
  list-style-type: none;
  padding: 0;
}

.services ul li {
  cursor: pointer;
}

.about-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 35px;
}

.about-footer ul {
  list-style-type: none;
  padding: 0;
}

.resources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 35px;
}

.resources ul {
  list-style-type: none;
  padding: 0;
}

.quote-form {
  width: 20%;
  padding: 30px 50px;
  background-color: #3c3c3c;
  color: #fff;
}

.quote-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quote-form label input {
  font-family: "Poppins", sans-serif;
  margin: 0 0 10px 0;
  padding: 0 0 0 10px;
  height: 40px;
  border-radius: 5px;
  border: none;
}

.quote-form label input:last-child {
  height: 90px;
}

.quote-form button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #fdbe34;
  color: black;
  font-family: "Poppins", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 60%;
  max-width: 1140px;
}
/*# sourceMappingURL=style.css.map */