@import "./header";
@import "./nav";
@import "./slider";
@import "./main";
@import "./testimonial";
@import "./blog";
@import "./newsletter";
@import "./footer";
@import "./rwd";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
  background-color: #fff;
  margin: 0 auto;

  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 60%;
}
