@import "./header";
@import "./nav";
@import "./slider";
@import "./main";
@import "./testimonial";
@import "./blog";

@import "./mixins/flex-center";

body {
  @include flex-center();
  flex-flow: column wrap;

  box-sizing: border-box;
  background-color: #fff;
  margin: 0 auto;

  font-family: "Poppins", sans-serif;
}

.container {
  @include flex-center;

  flex-flow: column wrap;
  width: 60%;
  max-width: 1140px;
}
